@import "./variable";
//menu-content
.menu-content {
    box-sizing: border-box;
    border-radius: 0.75rem;
    background-color: white;
    height: 42px;
    max-height: 42px;
    letter-spacing: 0.05rem;
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
}
//default-styles
.button-default {
    button:hover {
        background-color: #fdfdfd;
        transition-duration: 200ms;
    }
    button {
        cursor: pointer;
        border: none;
        background-color: #f2f2f2;
        border-radius: 12px;
        padding: 12px 24px;
        font-weight: 600;
        text-decoration: none;
        color: #363636;
        font-size: 0.75rem;
    }
}
.content-default {
    //prettier-ignore
    box-shadow: rgb(0 0 0 / 0.5%) 0px 0px 1px, rgb(0 0 0 / 2%) 0px 4px 8px, rgb(0 0 0 / 2%) 0px 16px 24px, rgb(0 0 0 / 0.5%) 0px 24px 32px;
    max-width: 480px;
    width: 100%;
    border-radius: 24px;
    background-color: white;
    padding: 24px;
    margin: auto;
    box-sizing: border-box;
}
.defualt-input-style {
    input {
        white-space: nowrap;
        width: 100%;
        box-sizing: border-box;
        font-family: "Roboto Mono", monospace;
        font-size: 1.4rem;
        text-align: right;
        background: transparent;
        border: none;
        outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.menu-button-default {
    min-width: 140px;
    max-width: 140px;
    display: flex;
    justify-content: center;
    @extend .menu-content;
    padding: 10px 16px;
}
.swap-button-default {
    width: 100%;
    border-radius: 12px;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.modal-container {
    border-radius: 32px;
    width: 640px;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    .modal-contents {
        .title {
            display: flex;
            justify-content: space-between;
            button {
                cursor: pointer;
                border: none;
                padding: 8px 10px;
                border-radius: 4px;
                background-color: #f7f7f7;
            }
            button:hover {
                background-color: rgb(197, 197, 197);
                transition-duration: 200ms;
            }
        }
        .token-list {
            .token {
                width: 100%;
                border: none;
                border-radius: 16px;
                display: flex;
                align-items: center;
                background-color: #f8f8f8;
                padding: 8px 16px;
                box-sizing: border-box;
                margin: 8px 0;
                cursor: pointer;
                .token-icon {
                    padding: 4px;
                    margin-right: 16px;
                    img {
                        width: 32px;
                    }
                }
                p {
                    color: black;
                }
            }
            .token:hover {
                background-color: #eeeeee;
                transition-duration: 200ms;
            }
            .selected {
                opacity: 0.1;
            }
        }
    }
}
.choose-a-token {
    width: 100%;
    button {
        border-radius: 12px;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        background-color: $strong-orange;
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
        p {
            margin-right: 8px;
            font-size: 14px;
        }
        img {
            width: 16px;
        }
    }
}
//token-input
.tokenInput {
    margin: 0 0 6px 0;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: $input-bg-color;
    border: 1px solid $border-color;
    .main-content {
        @extend .defualt-input-style;
        display: flex;
        justify-content: space-between;
        .tokenSelect {
            button {
                border-radius: 12px;
                display: flex;
                padding: 10px 12px;
                align-items: center;
                background-color: white;
                border: none;
                cursor: pointer;
                box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
            }

            img.tokenIcon {
                width: 22px;
                margin-right: 8px;
            }
            p {
                letter-spacing: 0.05rem;
                font-weight: 600;
                margin-right: 8px;
                font-size: 16px;
            }
        }
    }
}
